.navbarnav{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    
}
.navbarnav{
    margin-bottom: 2px;
    text-align: right !important;
    width: 100%;
    padding: 0px;
}
.navbar{
    background-color: #F2E3E6;

    text-align: right;
    
    
}

.about{
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
}


