.navbarnav{
    font-size: larger;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: right;
}
.navbarnav{
    text-align: right !important;
}
.navbar{
    background-color: #F2E3E6;
   
    
}
.navbar{
    padding-top: 0%;
    padding-bottom: 100rem;
}

.about{
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: calc(25% - 32px); /* Adjust as necessary */
}

.title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.copy {
    font-size: 1em;
    margin-bottom: 1em;
}

.btn {
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

