.navbarnav{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    
}
.navbarnav{
    margin-bottom: 20.5%;
    text-align: right !important;
    width: 100%;
}
.navbar{
    background-color: #F2E3E6;

    text-align: right;
    
    
}
.navbar{
    padding-top: 0%;
   
}
.about{
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
}


